{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">MentorTech</h1>
            <div class="row center">
                <h5 class="header col s12 light">Apprenez le web en autonomie et avec l'appui de mentors</h5>
            </div>
            <div class="row center">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="" id="download-button" class="btn-large waves-effect waves-light orange">J'accède à mon compte</a>
                {% else %}
                    <a href="{{ path('app_register') }}" id="download-button" class="btn-large waves-effect waves-light orange">Je m'inscris !</a>
                    <a href="{{ path('app_login') }}" id="download-button" class="btn-large waves-effect waves-light orange">Je me connecte !</a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="medium material-icons">flash_on</i></h2>
                        <h5 class="center">Droit au but</h5>

                        <p class="light">
                            Grâce aux formats  de nos cours, vous irez rapidement vers la pratique de la notion abordée
                        </p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="medium material-icons">group</i></h2>
                        <h5 class="center">Mentorat</h5>

                        <p class="light">La correction entre pairs est très bénéfique pour chaque partie. Cependant, ajouter un oeil expérimenté pour la correction des travaux pratiques est essentiel</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="medium material-icons">settings</i></h2>
                        <h5 class="center">Vos outils</h5>

                        <p class="light">Une plateforme légère pour apprendre sereinement</p>
                    </div>
                </div>
            </div>

        </div>
        <br><br>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">MentorTech</h5>
                    <p class="grey-text text-lighten-4">
                        Notre objectif est de mettre la pédagogie au coeur de l'apprentissage. Nous sommes des développeurs et nous sommes aussi passé par cette phase de découverte de nouvelles notions. Nous nous efforcons de nous souvenir le chemin que nous avons du parcourir pour  appréhender ces nouveaux concepts.
                    </p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Réseaux</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Facebook</a></li>
                        <li><a class="white-text" href="#!">Twitter</a></li>
                        <li><a class="white-text" href="#!">Linkedin</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Navigation</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Se connecter</a></li>
                        <li><a class="white-text" href="#!">Inscription</a></li>
                        <li><a class="white-text" href="#!">Cours</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Plateforme réalisée par Guillaume HARARI
            </div>
        </div>
    </footer>



<div class="sidenav-overlay"></div><div class="drag-target"></div>
{% endblock %}
