{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Mot de passe oublié
{% endblock %}

{% block body %}
    <h1>J'ai oublié mon mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}
