{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
    <div class="container">
    <a href="{{ postedSolution.url }}" target="_blank">Accéder à la solution</a>


    {% form_theme form 'themes/materialize_theme.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="waves-effect waves-light btn">Je poste ma correction !</button>
    {{ form_end(form) }}
    </div>
{% endblock %}
