{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Nouvelle techno
{% endblock %}

{% block body %}
    {% form_theme form 'themes/materialize_theme.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button class="waves-effect waves-light btn">OK</button>
{{ form_end(form) }}
{% endblock %}
