{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Contenu du cours
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="collection">
        {% for lesson in program.lessons %}
            <li class="collection-item avatar">
                <a href="{{ path('lesson_show', {id: lesson.id}) }}">
                    <i class="material-icons circle red">play_arrow</i>
                </a>
                <span class="title">{{ lesson.name }}</span>
                <p>
                    {% for technology in lesson.technologies %}
                        {{ technology.name }}
                    {% endfor %}
                </p>
                <a href="#!" class="secondary-content">
                    {% if lesson not in ownByUserLessons %}
                        <i title="À consulter" class="material-icons">fiber_new</i>
                    {% endif %}
                    {% for status in app.user.statusLessons %}
                        {% if lesson == status.lesson %}
                            {% if status.isValid %}
                                <i title="Solution validée" class="material-icons">check</i>
                            {% elseif status.isPosted %}
                                <i title="Solution postée en attente" class="material-icons">hourglass_empty</i>
                            {% elseif status.isOpen %}
                                <i title="Lecture en cours" class="material-icons">remove_red_eye</i>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </a>
            </li>
        {% else %}
            Aucun cours dans ce programe pour le moment
        {% endfor %}
        </ul>
    </div>
{% endblock %}
