{% extends 'base.html.twig' %}

{% block title %}Hello ProgramController!{% endblock %}

{% block body %}
    <div class="container">
        <ul class="collection">
        {% for lesson in program.lessons %}
            <li class="collection-item avatar">
                <a href="{{ path('lesson_show', {id: lesson.id}) }}">
                    <i class="material-icons circle red">play_arrow</i>
                </a>
                <span class="title">{{ lesson.name }}</span>
                <p>
                    {% for technology in lesson.technologies %}
                        {{ technology.name }}
                    {% endfor %}
                </p>
                <a href="#!" class="secondary-content">
                    {% if lesson in ownByUserLessons %}
                        <i class="material-icons">remove_red_eye</i>
                    {% else %}
                        <i class="material-icons">fiber_new</i>
                    {% endif %}
                </a>
            </li>
        {% else %}
            Aucun cours dans ce programe pour le moment
        {% endfor %}
        </ul>
    </div>
{% endblock %}
