{% extends 'base.html.twig' %}
{% form_theme form 'themes/materialize_theme.html.twig' %}

{% block title %}Hello LessonController!{% endblock %}

{% block body %}
    {% include 'component/_breadcrumb_lesson.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button class="waves-effect waves-light btn">OK</button>
{{ form_end(form) }}
{% endblock %}
