.hljs {
  display: block;
  padding: .5em;
  background: #232525;
  color: #e6e1dc;
}
.hljs-keyword {
  color: #d97621;
  font-weight: unset;
}
.hljs-title {
  color: #f8d794;
  font-weight: unset;
}
.hljs-variable {
  color: #b67bd5;
}
.hljs-built_in {
  color: #00C853;
}
.hljs-string {
  color: #72e8ac;
}
.hljs-number {
  color: #fa0b12;
}
