{% extends 'base.html.twig' %}

{% block body %}
    {% include 'lesson/_breadcrumb_lesson.html.twig' %}
    <div class="container">
        <h2>Pratique ! 😎</h2>
        <p>
            {{ lesson.content.finalExercise|raw }}
        </p>
    </div>
{% endblock %}
