{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Introduction du cours
{% endblock %}
{% block body %}
    {% include 'lesson/_breadcrumb_lesson.html.twig' %}
    <div class="container">
        <h2>📖 Introduction du cours</h2>
        {{ lesson.content.introductionMd|raw }}

        <a href="{{ path('lesson_part', {id: lesson.content.parts[0].id}) }}" class="waves-effect waves-light btn-large">
            <i class="material-icons right">
                directions_run
            </i>C'est parti !
        </a>
    </div>
{% endblock %}
