{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'lesson/_breadcrumb_lesson.html.twig' %}
        <h2>Introduction</h2>
        {{ part.introduction|raw }}
        <h2>Méthode</h2>
        {{ part.description|raw }}

        <h2>Exercice</h2>
        {{ part.exercise|raw }}
        <h2>Live coding</h2>
        {% for screencast in part.screencasts %}
            {{ screencast.title }}
        {% endfor %}
    </div>
{% endblock %}
