<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block nav %}
        {% include 'component/_navbar.html.twig' %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% include 'component/_sidebar.html.twig' %}
        {% endif %}
    {% endblock %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="container">
                <div class="row">
                    <div class="card-panel {{ category}} white-text">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
    </body>
</html>
